<!-- Footer -->
<footer id="footer">
  <ul class="icons">
    {% for socloc in site.social %}
    {% if socloc[1] %}
    {% if socloc[0] == 'email' %}
    <li><a target="_blank" href="{{ socloc[1] }}"
           ><i class="fas fa-envelope"></i> <span class="label">Email</span></a></li>
    {% else %}
    <li><a target="_blank" href="{{ socloc[1] }}"
           ><i class="fab fa-{{socloc[0]}}"></i> <span class="label">{{ socloc[0] }}</span></a></li>
    {% endif %}
    {% endif %}
    {% endfor %}
  </ul>
  <ul class="copyright">
    <li>&copy; {% assign thisyear = site.time | date: "%Y" %}
    {% if site.first_published %}
      {% capture diff %}{{ site.first_published | minus:thisyear }}{% endcapture %}
      {% if diff contains '-' %}{{ site.first_published }},{% endif %}
    {% endif %}
    {{ thisyear }}
    {% if site.owner %}{{ site.owner }}{% else %}{{ site.title }}{% endif %}</li>
  </ul>
</footer>
