<!-- Header -->
<header id="header"{% if page.layout == 'landing' %} class="alt"{% endif %}>
  <!-- <h1><a href="{{ site.baseurl }}/index.html">{{ site.title }}</a></h1> -->
  <div class="logo">
    <a href="{{ site.baseurl }}/index.html"><img src="images/logos/bhlogolightnotx.png" alt="" /></a>
  </div>
  <nav id="nav">
    <ul>
      <li class="special">
        <a href="#menu" class="menuToggle"><span>Menu</span></a>
        <div id="menu">
          <ul>
            <li>
              <a href="{{ site.baseurl }}/index.html">Home</a>
              <span class="sub-item"><i class="fa fa-angle-right" class="scrolly"></i><a href="{{ site.baseurl }}/index.html#landing-remote-access">Remote access</a></span>
              <span class="sub-item"><i class="fa fa-angle-right" class="scrolly"></i><a href="{{ site.baseurl }}/index.html#landing-scope">Scope</a></span>
              <span class="sub-item"><i class="fa fa-angle-right" class="scrolly"></i><a href="{{ site.baseurl }}/index.html#landing-goal">Goals</a></span>
              <span class="sub-item"><i class="fa fa-angle-right" class="scrolly"></i><a href="{{ site.baseurl }}/index.html#landing-funding">Funding</a></span>
              <span class="sub-item"><i class="fa fa-angle-right" class="scrolly"></i><a href="{{ site.baseurl }}/index.html#landing-processprop">Hacking Topics</a></span>
              <span class="sub-item"><i class="fa fa-angle-right" class="scrolly"></i><a href="{{ site.baseurl }}/index.html#coc">Code of Conduct</a></span>
              <span class="sub-item"><i class="fa fa-angle-right" class="scrolly"></i><a href="{{ site.baseurl }}/index.html#landing-industry">Industry engagement</a></span>
            </li>

            <li><a href="{{ site.baseurl }}/committee.html">Committee</a></li>
            <li><a href="{{ site.baseurl }}/projects.html">Projects</a></li>
            <li><a href="{{ site.baseurl }}/programme.html">Programme</a></li>
            <li><a href="{{ site.baseurl }}/venue.html">Venue</a>
            <!-- <span class="sub-item"><i class="fa fa-angle-right" class="scrolly"></i><a href="{{ site.baseurl }}/venue.html#cancellation">Cancellation</a></span>-->
              <span class="sub-item"><i class="fa fa-angle-right" class="scrolly"></i><a href="{{ site.baseurl }}/venue.html#covid">COVID-19 measures</a></span> 
            </li>
            <li><a href="{{ site.baseurl }}/biohackrxiv.html">BioHackrXiv</a></li>
            <li><a href="{{ site.baseurl }}/registration.html">Registration</a></li>
            <li><a href="{{ site.baseurl }}/contact.html">Contact</a></li>
            <li><a href="{{ site.baseurl }}/ip-disclaimer.html">IP Disclaimer</a></li>
            <li><a href="{{ site.baseurl }}/about.html">About</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>
