#programme {
    .day {
        margin: 0 0 3em 0;
        table {
            td {
                vertical-align: middle;
            }
    
            .time {
                font-weight: bold;
            }
        }
    }
}

td.time {
    width:150px;
}

.schedule-table h3 {
    margin:0px;
}

/* table tbody tr.schedule-theme-row td {
    background-color:lightgray;
} */

.schedule-table-project td {
    font-size:80%;
}

tr.schedule-break-row td {
    color: _palette(accent5, bg);
}

.wrapper.style5 td.speaker h3 {
    color:#ed4933;
}

.responsive-image {
	max-width: 100%;
	height: auto;
}
